.add-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.add-button {
    font-size: 40px;
    font: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}