:host {
    display: flex;
    flex-direction: column;
}
.save-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.save-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.field-container {
    padding: 40px;
}